In [1]:
#Load the required libraries
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
df = pd.read_csv('C:/Users/hillarykitoyo/Downloads')

In [7]:
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-20,EGAD,Eaagads Ltd,8.2,14,10.1,10.1,10.1,10.1,-,-,-,-
1,02-Jan-20,KUKZ,Kakuzi Plc,300,423.5,340,340,340,340,-,-,-,-
2,02-Jan-20,KAPC,Kapchorua Tea Kenya Plc,59,95,80,80,80,80,-,-,-,-
3,02-Jan-20,LIMT,Limuru Tea Plc,385,475,450,450,450,450,-,-,-,-
4,02-Jan-20,SASN,Sasini Plc,14.8,19.6,16.15,16.15,16.15,16.9,-0.75,4.44%,300,-

In [8]:
df.duplicated().sum()

0

In [ ]:
df.dtypes

DATE         object
CODE         object
NAME         object
12m Low      object
12m High     object
Day Low      object
Day High     object
Day Price    object
Previous     object
Change       object
Change%      object
Volume       object
Adjust       object
dtype: object

In [ ]:
print col()

SyntaxError: invalid syntax (749634747.py, line 1)

In [12]:
cat_cols=data.select_dtypes.columns
num_cols = data.select_dtypes(include=np.number).columns.to()
print("Categorical Variables:")
print(cat_cols)
print("Numerical Variables:")
print(num_cols)

NameError: name 'data' is not defined

In [13]:
for col in num_cols:
    print(col)
    print('Skew :', round(data[col].skew(), 2))
    plt.figure(figsize = (15, 4))
    plt.subplot(1, 2, 1)
    data[col].hist(grid=False)
    plt.ylabel('count')
    plt.subplot(1, 2, 2)
    sns.boxplot(x=data[col])
    plt.show()

NameError: name 'num_cols' is not defined

In [14]:
Log transformation of the feature '12m High'
sns.distplot(data["	Day Low"], axlabel="Day Price");

SyntaxError: invalid syntax (1032222551.py, line 1)

In [15]:
df.head()

,DATE,CODE,NAME,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjust
0,02-Jan-20,EGAD,Eaagads Ltd,8.2,14,10.1,10.1,10.1,10.1,-,-,-,-
1,02-Jan-20,KUKZ,Kakuzi Plc,300,423.5,340,340,340,340,-,-,-,-
2,02-Jan-20,KAPC,Kapchorua Tea Kenya Plc,59,95,80,80,80,80,-,-,-,-
3,02-Jan-20,LIMT,Limuru Tea Plc,385,475,450,450,450,450,-,-,-,-
4,02-Jan-20,SASN,Sasini Plc,14.8,19.6,16.15,16.15,16.15,16.9,-0.75,4.44%,300,-